.membership-extra-details {
  margin-top: 18px;
  padding-top: 18px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 12px;

  border-top: 1px solid var(--border);
}

.membership-extra-details div {
  padding: 12px;

  background: var(--background);

  border-radius: var(--radius);

  text-align: left;
}

.membership-extra-details span {
  display: block;

  margin-bottom: 5px;

  color: var(--text-light);

  font-size: 10px;
}

.membership-extra-details strong {
  color: var(--primary);

  font-size: 12px;
}

@media (max-width: 600px) {
  .membership-extra-details {
    grid-template-columns: 1fr;
  }
}