* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  background: #f8f9fa;
  color: #1a1a2e;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("/logo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;

  opacity: 0.06;

  pointer-events: none;
  z-index: 0;
}

#root {
  position: relative;
  z-index: 1;
}